<!DOCTYPE html>
<html>
  <head>
    <title>Hortus</title>
    {{ template "meta-tags" }}
  </head>
  <body>
    {{ template "nav-bar" .NavBarLinks }}
    <h3>Plantes</h3>
    {{ if .PlantLinks }}
    <ul>
      {{ range .PlantLinks }}
      <li><a href={{ .Link }}>{{ .CommonName }}</a></li>
      {{ end }}
    </ul>
    {{ else }}
    <p>Pas de plantes pour le moment.</p>
    {{ end }}
  </body>
</html>
