<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Plant.CommonName }}</title>
    {{ template "meta-tags" }}
    <script>
      function validateForm() {
          let limit = 255;
          let new_entry = document.forms["newLogEntry"]["new_entry"].value;
          if (new_entry == "") {
              alert("L'entrée ne peut pas être vide.")
              return false;
          }
      }
    </script>

  </head>
  <body>
    <pre>
      {{ printf "%#v" . }}
    </pre>
    {{ template "nav-bar" .NavBarLinks }}
    <!-- General informations about the plant -->
    <h1>{{ .Plant.CommonName }}</h1>
    <h2>{{ .Plant.GenericName }} {{ .Plant.SpecificName }}</h2>
    <p>Identifiant : {{ .Plant.Id }} </p>

    <p>Cliquer <a href="/plants/log/{{ .Plant.Id }}/">ici</a> pour ajouter une entrée</p>

    <ul>
      {{ range .Plant.Logs }}
      <li>{{ .Desc }}</li>
      {{ end }}
    </ul>
  </body>
</html>
