<html>
  <head>
    <title>Nouvelle plante</title>
  </head>
  <body>
    <h1>Nouvelle plante</h1>
    <form action="/plants/new/" method="post">
      <label for="common-name">Nom commun:</label>
      <input type="text" id="common-name" name="common-name">
      <br>
      <label for="generic-name">Espèce:</label>
      <input type="text" id="generic-name" name="generic-name">
      <br>
      <label for="specific-name">Variété:</label>
      <input type="text" id="specific-name" name="specific-name">
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
