<!DOCTYPE html>
<html>
  <head>
    <title>{{ .CommonName }}</title>
    {{ template "meta-tags" }}
  </head>
  <body>
    {{ template "nav-bar" }}
    <!-- General informations about the plant -->
    <h1>{{ .CommonName }}</h1>
    <h2>{{ .GenericName }} {{ .SpecificName }}</h2>
    <p>Identifiant : {{ .Id }} </p>
  </body>
</html>
